[Unit]
Description=Classroom LCD controller
After=multi-user.target NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/hoaidau/doan_thuc_raspi/lcd_control.py
WorkingDirectory=/home/hoaidau/doan_thuc_raspi
Restart=always
RestartSec=2
User=root

[Install]
WantedBy=multi-user.target